Repository brunosm16/media-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: 🚀 (docker-configuration) - containerize application
  .dockerignore
  .editorconfig
  .env.development
  Dockerfile.development
  Makefile
  docker-compose.development.yml
Due: eslint --fix

feat: 🚀 (docker-configuration) - debug application with docker
  .env.development
  .vscode/launch.json
  Makefile
  docker-compose.debug.yml
  package.json
  src/app.controller.ts
Due: prettier --write, eslint --fix

feat: 🚀 (issue-1) - use nginx as reverse proxy
  .env.development
  .gitignore
  Makefile
  docker-compose.debug.yml
  docker-compose.development.yml
  nginx/nginx.conf
  package.json
Due: prettier --write, eslint --fix

docs: 📖 (issue-1) - postgresql access documentation
  docs/01.postgresql-access
Due: none

refactor: 📝 change documentatio file to .md
  docs/01.postgresql-access.md
Due: eslint --fix

fix: 🚧 error on postgresql documentation
  docs/01.postgresql-access.md
Due: eslint --fix

feat: 🚀 (issue-2) - typeorm/application configuration
  configuration/application-configuration.ts
  configuration/index.ts
  configuration/type-orm-database-configuration.ts
  package-lock.json
  package.json
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/main.ts
  src/user/dto/create-user.dto.ts
  src/user/dto/index.ts
  src/user/dto/update-user.dto.ts
  src/user/entities/user.entity.ts
  src/user/user.controller.ts
  src/user/user.module.ts
  src/user/user.service.ts
Due: prettier --write, eslint --fix

ci: 🎡 temporarily ignores unit tests on pre-push
  .husky/pre-push
Due: none

ci: 🎡 delete pre-push for now
  .husky/pre-push
Due: none

feat: 🚀 (issue-2) - create user entity
  package-lock.json
  package.json
  src/errors/error-logs.ts
  src/user/dto/encrypt-user-data.result.dto.ts
  src/user/entities/user.entity.ts
  src/user/user.controller.ts
  src/user/user.module.ts
  src/user/user.service.ts
Due: prettier --write, eslint --fix

feat: 🚀 (issue-2) - update user
  src/user/user.controller.ts
  src/user/user.service.ts
  src/utils/index.ts
  src/utils/logs.ts
  src/utils/objects-utils.ts
Due: prettier --write, eslint --fix

feat: 🚀 (issue-2) - return all users without pagination
  src/user/user.service.ts
Due: prettier --write, eslint --fix

feat: 🚀 (issue-2) - delete user
  src/user/dto/delete-user.result.dto.ts
  src/user/dto/index.ts
  src/user/user.controller.ts
  src/user/user.service.ts
Due: prettier --write, eslint --fix

refactor: 📝 (issue-2) - add return types and async to methods
  src/user/user.controller.ts
  src/user/user.service.ts
Due: prettier --write, eslint --fix

refactor: 📝 (issue-2) - reuse code
  src/user/dto/index.ts
  src/user/user.service.ts
Due: prettier --write, eslint --fix

feat: 🚀 (issue-2) - signup user
  src/app.module.ts
  src/authentication/authentication.controller.ts
  src/authentication/authentication.module.ts
  src/authentication/authentication.service.ts
  src/authentication/dto/index.ts
  src/authentication/dto/signup-authentication.result.dto.ts
  src/authentication/dto/signup.authentication.dto.ts
  src/user/user.module.ts
Due: prettier --write, eslint --fix

feat: 🚀 (issue-2) - user login
  .env.development
  configuration/jwt.config.ts
  package-lock.json
  package.json
  src/app.module.ts
  src/authentication/authentication.controller.ts
  src/authentication/authentication.module.ts
  src/authentication/authentication.service.ts
  src/authentication/dto/index.ts
  src/authentication/dto/login-authentication.dto.ts
  src/authentication/dto/login-authentication.result.dto.ts
  src/authentication/dto/signup-authentication.dto.ts
  src/modules/jwt-helper/jwt-helper.module.ts
  src/modules/jwt-helper/jwt-helper.service.ts
  src/user/user.service.ts
Due: prettier --write, eslint --fix

refactor: 📝 (issue-2) - organize directories
  src/api/authentication/authentication.controller.ts
  src/api/authentication/authentication.module.ts
  src/api/authentication/authentication.service.ts
  src/api/authentication/dto/index.ts
  src/api/authentication/dto/login-authentication.dto.ts
  src/api/authentication/dto/login-authentication.result.dto.ts
  src/api/authentication/dto/signup-authentication.dto.ts
  src/api/authentication/dto/signup-authentication.result.dto.ts
  src/api/user/dto/create-user.dto.ts
  src/api/user/dto/delete-user.result.dto.ts
  src/api/user/dto/encrypt-user-data.result.dto.ts
  src/api/user/dto/index.ts
  src/api/user/dto/update-user.dto.ts
  src/api/user/entities/user.entity.ts
  src/api/user/user.controller.ts
  src/api/user/user.module.ts
  src/api/user/user.service.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/configuration/application-configuration.ts
  src/configuration/index.ts
  src/configuration/jwt.config.ts
  src/configuration/type-orm-database-configuration.ts
  src/modules/jwt-helper/jwt-helper.module.ts
Due: prettier --write, eslint --fix

feat: 🚀 (issue-2) - implement jwt-authentication-guard
  package-lock.json
  package.json
  src/api/authentication/authentication.controller.ts
  src/api/user/user.controller.ts
  src/modules/jwt-helper/jwt-helper.module.ts
  src/modules/jwt-helper/jwt-helper.service.ts
  src/modules/jwt-helper/jwt-helper.types.d.ts
  src/modules/jwt-helper/jwt.authentication.guard.ts
  src/modules/jwt-helper/jwt.strategy.ts
Due: prettier --write, eslint --fix

feat: 🚀 (issue-2) - uses decorator to extract user information
  src/decorators/get-authenticated-user.decorator.ts
  src/types/media-manager.types.d.ts
Due: prettier --write, eslint --fix

feat: 🚀 (issue-3) - add multer for media
  src/api/media/multer/media.multer.interfaces.ts
  src/api/media/multer/media.multer.options.ts
  src/api/media/multer/media.multer.utils.ts
Due: prettier --write, eslint --fix

feat: 🚀 (issue-3) - create-media structure
  package-lock.json
  package.json
  src/api/media/dto/create-media.dto.ts
  src/api/media/entities/media.entity.ts
  src/api/media/enums/media.enums.ts
  src/api/media/media.controller.ts
  src/api/media/media.module.ts
  src/api/media/media.service.ts
  src/app.module.ts
Due: prettier --write, eslint --fix

feat: 🚀 (issue-3) - create medias using batch
  src/api/media/entities/media.entity.ts
  src/api/media/media.module.ts
  src/api/media/media.service.ts
  src/configuration/type-orm-database-configuration.ts
Due: prettier --write, eslint --fix

feat: 🚀 (issue-3) - setup media-manager-jobs
  src/modules/media-manager-jobs/media-manager-jobs.constants.ts
  src/modules/media-manager-jobs/media-manager-jobs.module.ts
  src/modules/media-manager-jobs/media-manager-jobs.processor.ts
  src/modules/media-manager-jobs/media-manager-jobs.service.ts
  src/modules/media-manager-jobs/media-manager-jobs.types.d.ts
Due: prettier --write, eslint --fix

feat: 🚀 (issue-3) - rescale images
  package-lock.json
  package.json
  src/api/media/media.module.ts
  src/api/media/media.service.ts
  src/app.module.ts
  src/modules/media-manager-jobs/media-manager-jobs.configuration.ts
  src/modules/media-manager-jobs/media-manager-jobs.module.ts
  src/modules/media-manager-jobs/media-manager-jobs.processor.ts
  src/modules/media-manager-jobs/media-manager-jobs.service.ts
Due: prettier --write, eslint --fix

feat: 🚀 (issue-3) - extract video thumbnail
  package-lock.json
  package.json
  src/api/media/media.service.ts
  src/modules/media-manager-jobs/media-manager-jobs.constants.ts
  src/modules/media-manager-jobs/media-manager-jobs.processor.ts
  src/modules/media-manager-jobs/media-manager-jobs.service.ts
Due: prettier --write, eslint --fix

feat: 🚀 (issue-3) - displayFile
  src/api/media/dto/query-display-file-media.dto.ts
  src/api/media/media.controller.ts
  src/api/media/media.service.ts
Due: prettier --write, eslint --fix

feat: 🚀 (issue-3) - display file using range
  src/api/media/media.controller.ts
  src/api/media/media.service.ts
Due: prettier --write, eslint --fix

feat: 🚀 (issue-3) - retrieve medias by date
  src/api/media/dto/index.ts
  src/api/media/dto/query-get-medias-by-date.dto.ts
  src/api/media/dto/result-get-medias-by-date.dto.ts
  src/api/media/media.controller.ts
  src/api/media/media.service.ts
  src/utils/arrays.ts
Due: prettier --write, eslint --fix

feat: 🚀 (issue-3) - retrieve medias by dispositiveId
  src/api/media/dto/index.ts
  src/api/media/dto/query-get-medias-by-dispositive-id.dto.ts
  src/api/media/media.controller.ts
  src/api/media/media.service.ts
Due: prettier --write, eslint --fix

refactor: 📝 reuse code and make result media generic
  src/api/media/dto/result-get-medias-general.dto.ts
  src/api/media/media.controller.ts
  src/api/media/media.service.ts
Due: prettier --write, eslint --fix

refactor: 📝 make dto field more specific
  src/api/media/dto/result-get-medias-general.dto.ts
Due: prettier --write, eslint --fix

refactor: 📝 use enum to sort medias
  src/api/media/dto/query-get-medias-by-date.dto.ts
Due: prettier --write, eslint --fix

feat: 🚀 get latest medias
  src/api/media/dto/index.ts
  src/api/media/dto/query-get-latest-medias.dto.ts
  src/api/media/media.controller.ts
  src/api/media/media.service.ts
Due: prettier --write, eslint --fix

refactor: 📝 use try-catch on media.service methods
  src/api/media/media.service.ts
Due: prettier --write, eslint --fix

ci: 🎡 add main workflow for application. uses github actions
  .github/dependabot.yml
  .github/workflows/main.yml
Due: eslint --fix

refactor: 📝 add branch
  .github/workflows/main.yml
Due: eslint --fix

ci: 🎡 remove testing branch
  .github/workflows/main.yml
Due: eslint --fix

feat: 🚀 use NestExpressApplication
  src/main.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{json,js,ts}
  eslint --fix: any of: *.{js,json,json5,jsonc,md,ts,yaml,yml}
